[submodule "basico"]
	path = basico
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_basic.git
[submodule "pro"]
	path = pro
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_pro.git
[submodule "socket"]
	path = socket
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_socket.git
