[submodule "02-bases"]
	path = 02-bases
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_bases.git
[submodule "03-gifs-app"]
	path = 03-gifs-app
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_gifapp.git
[submodule "04-country-app"]
	path = 04-country-app
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_countryApp.git

[submodule "05-pipes-app"]
	path = 05-pipes-app
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_PipesApp.git
[submodule "06-reactive-forms-app"]
	path = 06-reactive-forms-app
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_ReactiveForms.git
[submodule "07-lifecycle-hooks"]
	path = 07-lifecycle-hooks
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_LyfecycleHooks.git
[submodule "08-teslo-shop"]
	path = 08-teslo-shop
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_TesloShop.git
[submodule "09-my-dashboard"]
	path = 09-my-dashboard
	url = https://github.com/santiago-reyes-buitrago/estudio_fernando_udemy_angular_V19_dashboard.git
